.player
  .player_object
    .player_slider{:id => "player_slider_#{track.id}"}
      %a.player_handler{:id => "player_handler_#{track.id}", :href => 'javascript:void(0);', :onclick => 'return false;'}
    %a.player_button{:id => "player_object_#{track.id}", :href => 'javascript:void(0);', :onclick => "startPlay('#{track.id}'); "}
    %a.player_stop{:id => "player_object_stop_#{track.id}", :href => 'javascript:void(0);', :onclick => "stopPlay();", :style => "display:none;"}

:javascript
  createPlayer(#{track.id},'#{track.public_filename}');