!!!
%html
%head
  %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
  %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

  %title= page_title
  -if @meta
    -@meta.each do |key|
      %meta{:name=>key[0], :content=>key[1]}
  
  = render :partial => "shared/scripts_and_styles"
  - if @rss_title && @rss_url
    = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
    
  %body
    #top_header
      = link_to content_tag(:div,'',:class => 'share_this'), "http://www.addthis.com/bookmark.php?v=15&winname=addthis&pub=j4s0n&s=more&url=http%3A%2F%2Fwww.trackforge.com%2F&title=TrackForge%20|%20Where%20musicians%2C%20fans%20and%20artists%20hangout!", :target => "_blank"
      
    #doc2{:class => "yui-t#{@sidebar_left ? 3 : 6}"}
      = render :partial => "shared/header"
            
      #bd
        = render :partial => "shared/messages"
                  
        = @content_for_layout
                            
      #ft
        -if show_footer_content?    
          .yui-gc#footer_content
            = image_tag 'spinner.gif', :plugin => 'community_engine'
            Loading recent content...        

          %script{:type=>"text/javascript"}
            = remote_function(:update => "footer_content", :url => { :controller => 'base', :action => 'footer_content' })

      = render :partial => 'shared/footer'